<div class="row">
    <div *ngIf="serv.detalles; else stillLoading" class="col-12">
        <div class="jumbotron jumbotron-fluid mt-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-3 ml-5 ml-lg-0 mb-2">
                        <img class="ml-5 ml-lg-0" src="{{serv.detalles.Poster}}" alt="">
                    </div>
                    <div class="col-12 col-lg">
                        <div class="row ml-5">
                            <div class="col-3">
                                <h1>{{serv.detalles.Title}}</h1>
                            </div>
                            <div class="col-5">
                                <h2>({{serv.detalles.Year}})</h2>
                            </div>
                            <div class="col-1">
                                <button class="btn btn-primary">{{serv.detalles.imdbRating}}</button>
                            </div>

                        </div>
                        <br/>
                        <div class="row ml-5">
                            <div class="col-12">
                                <strong>Se estrenó: </strong> {{serv.detalles.Released}}
                            </div>
                        </div>
                        <br/>
                        <div class="row ml-5">
                            <div class="col-12">
                                <strong>Duración: </strong> {{serv.detalles.Runtime}}
                            </div>
                        </div>
                        <br/>
                        <div class="row ml-5">
                            <div class="col-12">
                                <strong>Director: </strong> {{serv.detalles.Director}}
                            </div>
                        </div>
                        <br/>
                        <div class="row ml-5">
                            <div class="col-12">
                                <strong>Premios: </strong> {{serv.detalles.Awards}}
                            </div>
                        </div>
                        <br/>
                        <div class="row ml-5">
                            <div class="col-12">
                                <strong>Descripcion: </strong> {{serv.detalles.Plot}}
                            </div>
                        </div>
                        <br/>
                        <div class="row ml-5">
                            <div class="col-12">
                                <strong>Idiomas: </strong> {{serv.detalles.Language}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <ng-template #stillLoading>
        <div class="col">
            <p>Loading...</p>
        </div>
    </ng-template>
</div>